<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>

  <body>
    <header class="header">
      <div class="header__logo"></div>
      <nav class="header__navigation">
        <a href="#" class="header__navigation-link">Home</a>
        <a href="#" class="header__navigation-link">About</a>
        <a href="#" class="header__navigation-link">Contact</a>
      </nav>
    </header>

    <div id="loader" class="loader-container hidden">
      <div class="loader"></div>
    </div>
    <main class="main">
      <section class="main__section main__section--form">
        <form class="main__section--form">
          <input
            id="name"
            class="main__section--form__input"
            type="text"
            name="input"
            value=""
            placeholder="Source"
          />
          <input
            id="btn"
            class="main__section--form__btn"
            type="submit"
            name=""
            value="Submit"
          />
        </form>
      </section>

      <section class="main__section main__section--results">
        <strong class="main__section--results-title">Results:</strong>
        <div id="results" class="main__section--results-content"></div>
      </section>
    </main>

    <footer class="footer">
      <p class="footer__text">Udacity <sup>&reg;</sup></p>
    </footer>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
